/* Reset CSS: Remove margens e preenchimentos padrão de todos os elementos */
* {
    margin: 0;  /* Remove margem de todos os elementos */
    padding: 0; /* Remove padding de todos os elementos */
}

/* Estilos gerais para o corpo da página */
body {
    background: linear-gradient(to left top, #141212, #5d1212); /* Gradiente de fundo para o body */
}

/* Inicio do topo (menu) */
header {
    background: linear-gradient(to right top, #a31515, #1e1a1a); /* Gradiente de fundo no header */
    display: flex; /* Usando flexbox para organizar os itens dentro do header */
    justify-content: space-between; /* Distribui o espaço de forma equitativa entre os itens */
    padding: 10px; /* Adiciona um espaçamento interno de 10px */
}

nav > a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #c1c1c1; /* Define a cor do texto dos links como cinza claro */
    font-size: 35px; /* Define o tamanho da fonte */
    font-family: "Bebas Neue", sans-serif; /* Usa a fonte Bebas Neue, uma fonte sem serifa */
}
/* Fim do topo (menu) */

/* Estilos para o título h1 */
h1 {
    font-size: 45px; /* Tamanho da fonte para o h1 */
    color: #c1c1c1; /* Cor do texto */
    font-family: "Bebas Neue", sans-serif; /* Fonte personalizada */
}

/* Estilos para a tag main */
main {
    display: flex; /* Usa flexbox para alinhar os itens dentro do main */
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: center; /* Alinha os itens horizontalmente no centro */
    min-height: 100vh; /* Garante que o main ocupe pelo menos 100% da altura da janela */
    padding: 0 35px; /* Adiciona um padding de 35px nas laterais */
}

/* Início do carrossel de cards */
/* Estilização do container principal de cartões */
.card-body {
    max-width: 1100px; /* Define uma largura máxima para o container */
    width: 100%; /* O container ocupa 100% da largura disponível */
    position: relative; /* Permite posicionar elementos dentro do container */
    display: flex; /* Flexbox para organizar os itens */
    justify-content: center; /* Alinha os itens no centro horizontalmente */
    align-items: center; /* Alinha os itens verticalmente no centro */
}

/* Estilização dos ícones SVG */
.card-body svg {
    height: 50px;
    width: 50px;
    color: #fdfdfd; /* Cor branca */
    cursor: pointer;
    position: relative;
    transform: translateY(-50%); /* Centraliza o ícone verticalmente */
}

/* Estilização do carrossel */
.card-body .carrosel {
    display: grid; /* Usa grid para organizar os cards */
    grid-auto-flow: column; /* Organiza os itens em colunas */
    grid-auto-columns: calc((100% / 3) - 12px); /* Calcula o tamanho das colunas */
    gap: 16px; /* Espaço entre os itens */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse o container */
    width: 1100px; /* Largura do carrossel */
    height: 600px; /* Altura do carrossel */
}

/* Estilização dos elementos flexíveis dentro do carrossel */
.carrosel :where(.card, .img) {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Estilização dos cards */
.card, .carrosel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px; /* Espaço entre os cards */
}

/* Estilização das imagens */
.card, .img, a > img {
    width: 250px; /* Largura das imagens */
    height: initial; /* Mantém a proporção original */
    object-fit: cover; /* As imagens cobrem o espaço da caixa sem deformar */
    border-radius: 10px; /* Arredonda os cantos das imagens */
}

/* Estilização do container do carrossel de imagens */
.carousel-container {
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
    position: relative;
}

/* Estilização do container de imagens no carrossel */
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transição suave */
}

/* Estilização das imagens do carrossel */
.carousel-image {
    min-width: 100%; /* Cada slide ocupa 100% da largura do container */
    height: 600px;
}

/* Estilização dos botões do carrossel */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centraliza o botão verticalmente */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

/* Posição dos botões */
.prev {
    left: 10px;
}
.next {
    right: 10px;
}

/* Responsividade - Ajustes para telas menores */
@media screen and (max-width: 900px) {
    .card-body .carrosel {
        grid-auto-columns: calc((100% / 2) - 9px); /* 2 colunas em telas menores */
    }
}

@media screen and (max-width: 600px) {
    .card-body .carrosel {
        grid-auto-columns: 100%; /* 1 coluna em telas pequenas */
    }
}

/* Fim do carrossel de cards */

/* Estilos específicos para a seção "Giovanna" */
.topo-mlp {
    background: linear-gradient(to right top, #46236d, #8355ad); /* Gradiente de fundo */
}

.body-mlp {
    display: flex; /* Flexbox para organizar os itens dentro do body */
    min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
    background: linear-gradient(to left top, #7745a7, #43226e); /* Gradiente de fundo */
    flex-direction: column; /* Organiza os itens na coluna para mobile */
    align-items: center; /* Alinha os itens ao centro */
}
.img-mlp {
    width: 250px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Arredonda os cantos da imagem */
}

.text-mlp, h2{
    color: #f5f5f5;
    max-width: 900px; /* Limita a largura do texto */
    line-height: 1.6; /* Aumenta o espaçamento entre as linhas de texto */
    text-align: justify; /* Justifica o texto (alinha o texto à esquerda e à direita) */
}
.card-mlp {
    display: flex; /* Aplica o layout flexbox na card */
    margin-top: 20px;
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: flex-start; /* Garante que a imagem e o texto fiquem juntos */
    gap: 20px; /* Espaço entre a imagem e o texto */
    padding: 30px;
    border-radius: 50px; /* Bordas arredondadas para o container */
    box-shadow: 0px 4px 20px #000000a4; /* Sombra suave para a card */
}
.img-postermlp {
    width: 250px; /* Largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Arredonda os cantos da imagem */
}
.img-turma-mlp{
    width: 200px;
}
/* Fim da seção "Giovanna" */

/* Estilos específicos para a seção "Emily" */
.topo-mario {
    background: linear-gradient(to left top, #ce0707, #0000be); /* Gradiente de fundo para o topo */
}

.body-mario {
    display: flex; /* Define o layout como flexbox */
    min-height: 100vh; /* Garante que o body ocupe 100% da altura da tela */
    background: linear-gradient(to right top, #fc0000, #0000be); /* Gradiente de fundo */
    flex-direction: column; /* Organiza os itens na coluna para mobile */
    align-items: center; /* Alinha os itens ao centro */
}

.img-mario {
    width: 100px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Arredonda os cantos da imagem */
}

.text-mario {
    color: #f5f5f5;
    max-width: 900px; /* Limita a largura do texto */
    line-height: 1.6; /* Aumenta o espaçamento entre as linhas de texto */
    font-family: "Silkscreen", sans-serif; /* Fonte personalizada para o texto */
    text-align: justify; /* Justifica o texto (alinha o texto à esquerda e à direita) */
}

.card-mario {
    display: flex; /* Aplica o layout flexbox na card */
    margin-top: 20px;
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: flex-start; /* Garante que a imagem e o texto fiquem juntos */
    gap: 20px; /* Espaço entre a imagem e o texto */
    padding: 30px;
    border-radius: 50px; /* Bordas arredondadas para o container */
    box-shadow: 0px 4px 20px #000000a4; /* Sombra suave para a card */
}

.img-postermario {
    width: 250px; /* Largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Arredonda os cantos da imagem */
}

#gamemario img {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease; /* Transição suave para qualquer transformação */
}

#gamemario img.moving {
    transform: rotate(20deg) translateX(30px); /* Move para a direita enquanto gira */
}

/* Fim da seção "Emily" */

/* Estilos específicos para a seção "Juliana" */
.topo-lilo {
    background: linear-gradient(to left top, #ce0707, #be0075); /* Gradiente de fundo para o topo */
}

.body-lilo {
    min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
    background: linear-gradient(to right top, #00fc0d, #a800be); /* Gradiente de fundo */
}

.card-lilo img, .card-lilo .img-lilo {
    display: flex; /* Flexbox para organizar a imagem */
    justify-content: right; /* Alinha a imagem à direita */
    padding: 0 35px; /* Adiciona padding nas laterais */
    height: center; /* Ajusta a altura da imagem */
    background-size: 75px; /* Define o tamanho do fundo da imagem */
}
/* Fim da seção "Juliana" */
