*{  /*reset css*/
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to left top, #141212, #5d1212);
}
/*inicio topo - menu*/
header{
    background: linear-gradient(to right top, #a31515,#1e1a1a);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
nav > a{
    text-decoration: none;
    color:#c1c1c1;
    font-size: 35px;
    font-family: "Bebas Neue", sans-serif;
}
/*fim topo - menu*/
h1{
    font-size: 45px;
    color: #c1c1c1;
    font-family: "Bebas Neue", sans-serif;
}
main{
    display: flex;
    align-items: center;/*pesquisar*/
    justify-content: center;
    min-height: 100vh;/*pesquisar*/
    padding: 0 35px;
}
/*inicio carrosel de cards*/
.card-body{
    max-width: 1100px;
    width: 100%;
    position: relative;

}
.card-body svg{
    height: 50px;
    width: 50px;
    color: #fdfdfd;
    cursor: pointer;
    position: relative;
    transform: translateY(-50%);
}
.card-body .carrosel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
}
.carrosel :where(.card, .img){
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card, .carrosel{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card, .img, a > img{
    width: 250px;
    height: initial;
    object-fit: cover;/*pesquisar*/
    border-radius: 10px;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*pesquisar {*/
@media screen and (max-width: 900px){
    .card-body .carrosel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 600px){
    .card-body .carrosel{
        grid-auto-columns: 100%;
    }
}/*pesquisar }*/

/*fim carrosel de cards*/

/*inicio giovanna*/
.topo-mlp{
    background: linear-gradient(to right top, #46236d,#8355ad);   
}
.body-mlp{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to left top, #7745a7, #43226e);
}
.img-mlp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    height: auto;
    background-size: 75px;
}
h2{
    display: flex;
    color:#c1c1c1;
    font-family: "Bebas Neue", sans-serif;
    justify-content: center;
    font-size: 35px;
}



/*fim giovanna*/
/*inicio emily*/
.topo-mario{
    background: linear-gradient(to left top, #ce0707, #0000be);
}
.body-mario{
    min-height: 100vh;
    background: linear-gradient(to right top, #fc0000, #0000be);
}
.card-mario img, .img-mario{
    display: flex;
    justify-content: start;
    width: 250px;
    height: initial;
    padding: 30px;
    border-radius: 10px;
}

/*fim emily*/

/*inicio juliana*/
.topo-lilo{
    background: linear-gradient(to left top, #ce0707, #be0075);
}
.body-lilo{
    min-height: 100vh;
    background: linear-gradient(to right top, #00fc0d, #a800be);
}
.card-lilo img,.card-lilo .img-lilo {
    display: flex;
    justify-content: right;
    padding: 0 35px;
    height: center;
    background-size: 75px;

/*fim juliana*/